<!DOCTYPE html>
<html lang="ko">
  <!-- Html Head Tag-->
  <%- partial('_partial/html-head') %>
  <body>
    <%- body %>

    <%- partial('_partial/footer') %>

    <%- partial('_partial/after-footer') %>
    
    <!-- ADD disqus comment count 2017.08.20 ByeongGiKim-->
    <script id="dsq-count-scr" src="//byeonggi.disqus.com/count.js" async></script>
  
  </body>
</html>

